<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Inserimento buffet')">
</head>

<body>
	<div th:insert="fragments/common.html :: nav"></div>

	<form th:action="@{'/chef/' + ${id} + '/buffet'}" method="POST" th:object="${buffet}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			Nome: <input type="text" th:field="*{nome}" />
			<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
			</div>
		</div>
		<div>
			Descrizione: <input type="text" th:field="*{descrizione}" />
			<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">
			</div>
		</div>
		<div>
			<button type="submit">Conferma</button>
		</div>
	</form>
	
	<footer>
		<div th:insert="fragments/common.html :: foot"></div>
	</footer>
</body>

</html>