<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Cancellazione buffet')">
</head>

<body>
	<div th:insert="fragments/common.html :: nav"></div>
	<h4>Buffet da cancellare</h4>
	<div>
		<span th:text="${buffet.nome}">Buffet freddo</span>
		<span th:text="${buffet.descrizione}">Bel buffet freddo salato</span>
	</div>
	<div>
		<a href="buffet.html" th:href="@{'/confirmDeleteBuffet/' + ${buffet.id}}" th:text="Conferma">Conferma</a>
		
	<footer>
		<div th:insert="fragments/common.html :: foot"></div>
	</footer>
</body>

</html>