<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>

<body>
	<div>
		<h4>Operazioni</h4>
		<div>
			<a th:href="@{/chefForm}">Inserisci Chef</a>
		</div>
		<div>
			<a th:href="@{/chefs}">Visualizza Chefs</a>
		</div>
		<div>
			<a th:href="@{/ingredienteForm}">Inserisci Ingrediente</a>
		</div>
		<div>
			<a th:href="@{/ingredienti}">Visualizza Ingredienti</a>
		</div>
		<div>
			<a th:href="@{/logout}" th:text="Esci">Esci</a>
   		</div>
	</div>
</body>

</html>