<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header(title)">
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title th:text="${title}"></title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
	<nav th:fragment="nav">
		<div class="navbar">
			<a href="/" th:href="@{/default}" th:text="Home">Home</a>
		</div>
		<div class="navbar">
			<a th:href="@{/logout}" th:text="Esci">Esci</a>
		</div>
	</nav>

	<div th:fragment="default-background">
		<div class="background-index">
		</div>
		<div class="background-index-correction">
		</div>
		<div th:replace="fragments/svg.html :: svg-wave-1">
		</div>
		<div th:replace="fragments/svg.html :: svg-wave-2">
		</div>
	</div>

	<footer th:fragment="foot">
	</footer>
</body>

</html>