<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Buffet salvato')">
</head>

<body>
	<div th:insert="fragments/common.html :: nav"></div>
	<div th:replace="fragments/common.html :: default-background"></div>

	<div class="container">
		<div class="card card-border">
			<h1 class="login">Buffet salvato con successo!</h1>
			<a class="button-3" href="buffet.html" th:href="@{'/chef/' + ${id}}">Vedi lo chef</a>
			<a class="button-3" href="buffets.html" th:href="@{/buffets}">Vedi tutti i buffet</a>
			<!--<a class="button-3" href="buffet.html" th:href="@{'/buffet/' + ${buffet.id}}">Vedi buffet in dettaglio</a> Non funziona -->
			<!--<a href="#" class="button-3" onclick="location.href = document.referrer; return false;">Indietro</a>-->
		</div>
		<div th:replace="fragments/svg.html :: svg-register-succesful">
		</div>
	</div>

	<footer>
		<div th:insert="fragments/common.html :: foot"></div>
	</footer>

</body>

</html>