<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Chef salvato')">
</head>

<body>
	<div th:insert="fragments/common.html :: nav"></div>
	<div th:replace="fragments/common.html :: default-background"></div>

	<div class="container">
		<div class="card card-border">
			<h1 class="login">Chef salvato con successo!</h1>
			<a class="button-3" href="chef.html" th:href="@{'/chef/' + ${chef.id}}">Vedi chef in dettaglio</a>
			<a class="button-3" href="chefs.html" th:href="@{/chefs}">Lista degli chef</a>
		</div>
		<div th:replace="fragments/svg.html :: svg-register-succesful">
		</div>
	</div>

	<!--<p>Chef salvato con successo!</p>
	<h4>Dettagli chef</h4>
	<div th:if="${chef}">
		<span th:text="${chef.nome}">nome chef</span>
		<span th:text="${chef.cognome}">cognome chef</span>
		<span th:text="${chef.nazionalita}">nazionalità chef</span>
	</div>
	<div th:unless="${chef}">Non esiste</div>-->

	<footer>
		<div th:insert="fragments/common.html :: foot"></div>
	</footer>

</body>

</html>