<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Chefs')">
</head>

<body>
	<div th:insert="fragments/common.html :: nav"></div>

	<div class="container-grid">
		<div class="grid" th:each="chef : ${chefs}">
			<table>
				<tr>
					<td>Nome:</td>
					<td th:text="${chef.nome}">nome chef</td>
				</tr>
				<tr>
					<td>Cognome:</td>
					<td th:text="${chef.cognome}">cognome chef</td>
				</tr>
				<tr>
					<td>Nazionalità:</td>
					<td th:text="${chef.nazionalita}">nazionalità chef</td>
				</tr>
			</table>
			<span>
				<a href="chef.html" th:href="@{'/chef/' + ${chef.id}}" th:text="dettagli">dettagli</a>
			</span>
			<span sec:authorize="hasAuthority('ADMIN')">
				<a href="deleteChef.html" th:href="@{'/deleteChef/' + ${chef.id}}" th:text="cancella">cancella</a>
			</span>
		</div>
		
		<h4>Elenco chefs:</h4>
		<ul>
			<li th:each="chef : ${chefs}">
				<span th:text="${chef.nome}">nome chef</span>
				<span th:text="${chef.cognome}">cognome chef</span>
				<span th:text="'('+${chef.nazionalita}+')'">nazionalita' chef'</span>
				<span>
					<a href="chef.html" th:href="@{'/chef/' + ${chef.id}}" th:text="dettagli">dettagli</a>
				</span>
				<span sec:authorize="hasAuthority('ADMIN')">
					<a href="deleteChef.html" th:href="@{'/deleteChef/' + ${chef.id}}" th:text="cancella">cancella</a>
				</span>
			</li>
		</ul>
	</div>
	</div>

	<footer>
		<div th:insert="fragments/common.html :: foot"></div>
	</footer>
</body>

</html>