<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Cancellazione ingrediente')">
</head>

<body>
	<div th:insert="fragments/common.html :: nav"></div>
	<h4>Ingrediente da cancellare</h4>
	<div>
		<span th:text="${ingrediente.nome}">nome ingrediente</span>
		<span th:text="${ingrediente.descrizione}">descrizione ingrediente</span>
	</div>
	<div>
		<a href="ingrediente.html" th:href="@{'/confirmDeleteIngrediente/' + ${ingrediente.id}}" th:text="Conferma">Conferma</a>
		<button onclick="history.back()">Annulla</button>
		
	<footer>
		<div th:insert="fragments/common.html :: foot"></div>
	</footer>
</body>

</html>