<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Modifica ingrediente')">
</head>

<body>
	<div th:insert="fragments/common.html :: nav"></div>
	<form th:action="" method="POST" th:object="${ingrediente}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			Nome: <input type="text" th:field="*{nome}" />
			<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
			</div>
		</div>
		<div>
			Descrizione: <input type="text" th:field="*{descrizione}" />
			<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">
			</div>
		</div>
		<div>
			Origine: <input type="text" th:field="*{origine}" />
			<div th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}">
			</div>
		</div>
		<div>
			<button type="submit">Conferma</button>
		</div>
	</form>
	
	<footer>
		<div th:insert="fragments/common.html :: foot"></div>
	</footer>
</body>

</html>