<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Inserimento buffet')">
</head>

<body>
	<div th:insert="fragments/common.html :: nav"></div>
	<div th:replace="fragments/common.html :: default-background"></div>

	<div class="container">
		<div class="card card-border">
			<h1 class="login">Modifica buffet</h1>
			<form th:action="@{'/editBuffet/' + ${id}}" method="POST" th:object="${buffet}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
				<table class="form">
					<tr>
						<td>Nome:</td>
						<td><input type="text" placeholder="nome" th:field="*{nome}" /></td>
						<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Descrizione:</td>
						<td><input type="text" placeholder="descrizione" th:field="*{descrizione}" /></td>
						<td th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"
							th:style="'color:red'"></td>
					</tr>
				</table>
				<div>
					<span><button type="submit" class="button-3">Conferma</button></span>
					<!--<a class="button-3" href="/" th:href="@{/buffets}">Buffets</a>
					<a class="button-3" href="/" th:href="@{'/chef/' + ${idChef}}">Chef</a>-->
					<a href="#" class="button-3" onclick="location.href = document.referrer; return false;">Indietro</a>
					<!--<button class="button-3" onclick="history.back()">Indietro</button>-->
				</div>
			</form>
		</div>
		<div class="svg-beside" th:insert="fragments/svg.html :: svg-buffet-insert">
		</div>
	</div>

	<footer>
		<div th:insert="fragments/common.html :: foot"></div>
	</footer>

</body>

</html>