<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Home')">
</head>

<body class="home">
	<div th:insert="fragments/common.html :: nav"></div>

	<div class="container-grid">
		<a class="button-3 button-3-home flex-column" th:href="@{/chefs}">
			<div th:insert="fragments/svg.html :: svg-chef"></div>
			<div>Visualizza Chefs</div>
		</a>
		<a class="button-3 button-3-home flex-column" th:href="@{/chefForm}" sec:authorize="hasAuthority('ADMIN')">
			<div th:insert="fragments/svg.html :: svg-chef-insert"></div>
			<div>Inserisci Chef</div>
		</a>
		<a class="button-3 button-3-home flex-column" th:href="@{/buffets}">
			<div th:insert="fragments/svg.html :: svg-buffet"></div>
			<div>Visualizza Buffets</div>
		</a>
		<a class="button-3 button-3-home flex-column" th:href="@{/piatti}">
			<div th:insert="fragments/svg.html :: svg-plate"></div>
			<div>Visualizza Piatti</div>
		</a>
		<a class="button-3 button-3-home flex-column" th:href="@{/ingredienti}">
			<div th:insert="fragments/svg.html :: svg-ingredient"></div>
			<div>Visualizza Ingredienti</div>
		</a>
		<a class="button-3 button-3-home flex-column" th:href="@{/ingredienteForm}" sec:authorize="hasAuthority('ADMIN')">
			<div th:insert="fragments/svg.html :: svg-ingredient-insert"></div>
			<div>Inserisci Ingrediente</div>
		</a>
	</div>

	<footer>
		<div th:insert="fragments/common.html :: foot"></div>
	</footer>
</body>

</html>