<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Catering')">

<body>
	<div th:replace="fragments/common.html :: default-background"></div>

	<div class="container">
		<div class="card card-index">
			<h1 class="index">Saint's Catering</h1>
			<div sec:authorize="not (hasAuthority('ADMIN') or hasAuthority('DEFAULT'))">
				<a class="button-3 button-3-index" th:href="@{/login}" th:text="Accedi">Accedi</a>
				<a class="button-3 button-3-index" th:href="@{/register}" th:text="Registrati">Registrati</a>
			</div>
			<div sec:authorize="(hasAuthority('ADMIN') or hasAuthority('DEFAULT'))">
				<a class="button-3 button-3-index" th:href="@{/default}" th:text="Home">Home</a>
			</div>
		</div>
		<div th:replace="fragments/svg.html :: svg-streetfood">
		</div>
		<div th:replace="fragments/svg.html :: svg-eat">
		</div>
	</div>

	<footer th:replace="fragments/common.html :: foot">
	</footer>
</body>

</html>