<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Inserimento ingrediente')">
</head>

<body>
	<div th:insert="fragments/common.html :: nav"></div>
	<div th:replace="fragments/common.html :: default-background"></div>

	<div class="container">
		<div class="card card-border">
			<h1 class="login">Dettagli ingrediente</h1>
			<table class="form">
				<tr>
					<td>Nome:</td>
					<td th:text="${ingrediente.nome}">nome ingrediente</td>
				</tr>
				<tr>
					<td>Descrizione:</td>
					<td th:text="${ingrediente.descrizione}">descrizione ingrediente</td>
				</tr>
				<tr>
					<td>Origine:</td>
					<td th:text="${ingrediente.origine}">origine ingrediente</td>
				</tr>
			</table>
			<div class="flex-row">
				<a class="button-3" href="/" th:href="@{/ingredienti}">Vedi tutti gli Ingredienti</a>
				<a class="button-3" sec:authorize="hasAuthority('ADMIN')" href="editIngredienteForm.html"
					th:href="@{'/editIngredienteForm/' + ${ingrediente.id}}" th:text="modifica">modifica</a>
				<a class="button-3" sec:authorize="hasAuthority('ADMIN')" href="deleteIngrediente.html"
					th:href="@{'/deleteIngrediente/' + ${ingrediente.id}}" th:text="cancella">cancella</a>
				<!-- Pulsante per tornare indietro, molto meglio di quello che avevo implementato prima -->
				<!-- Questi sotto funzionano male in certe condizioni -->
				<!--<a href="#" class="button-3" onclick="location.href = document.referrer; return false;">Indietro</a>-->
				<!--<a href="javascript:javascript:history.go(-1)">Indietro</a>-->
				<!--<a class="button-3" href="javascript:window.history.back();">Indietro</a>-->
			</div>
		</div>
		<div class="svg-beside" th:insert="fragments/svg.html :: svg-ingredient-insert">
		</div>
	</div>

	<footer>
		<div th:insert="fragments/common.html :: foot"></div>
	</footer>

</body>

</html>