<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Ingrediente salvato')">
</head>

<body>
	<div th:insert="fragments/common.html :: nav"></div>
	<p>Ingrediente salvato con successo!</p>
	<h4>Dettagli ingrediente</h4>
	<div th:if="${ingrediente}">
		<span th:text="${ingrediente.nome}">nome ingrediente</span>
		<span th:text="${ingrediente.descrizione}">descrizione ingrediente</span>
	</div>
	<div th:unless="${ingrediente}">Non esiste</div>

	<footer th:replace="fragments/common.html :: foot">
	</footer>
</body>

</html>