<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Login')">
</head>

<body>
	<div th:replace="fragments/common.html :: default-background">
	</div>

	<div class="container">
		<div class="card card-border">
			<h1 class="login">Accedi al tuo account</h1>
			<form th:action="@{/login}" method="POST">

				<table class="form">
					<tr>
						<td>Username:</td>
						<td><input name="username" placeholder="username" type="text" required /></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input name="password" placeholder="password" type="password" required /></td>
					</tr>
				</table>
				<div>
					<span><button type="submit" class="button-3">Login</button></span>
					<a class="button-3" href="/" th:href="@{/}">Annulla</a>
				</div>
			</form>
		</div>
		<div th:replace="fragments/svg.html :: svg-login">
		</div>
	</div>

	<footer th:replace="fragments/common.html :: foot">
	</footer>
</body>

</html>