<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Piatto')">
</head>

<body class="background-color2">
	<div th:insert="fragments/common.html :: nav"></div>

	<div class="background"></div>

	<div class="flex-row">

		<div class="container-side">
		</div>

		<div class="container-side fixed" th:if="${piatto}">
			<div class="card-side">
				<div th:replace="fragments/svg.html :: svg-icon-plate">
				</div>
				<div class="plate-name-tag-profile" th:text="${piatto.nome}">nome piatto</div>
				<table>
					<tr>
						<td>Nome:</td>
						<td th:text="${piatto.nome}">nome piatto</td>
					</tr>
					<tr>
						<td>Descrizione:</td>
						<td th:text="${piatto.descrizione}">descrizione piatto</td>
					</tr>
					<tr>
						<td>Buffet:</td>
						<td>
							<a href="buffet.html" th:href="@{'/buffet/' + ${piatto.buffet.id}}"
								th:text="${piatto.buffet.nome}">nome buffet</a>
						</td>
					</tr>
				</table>
				<div class="container-grid-buttons">
					<a class="button-3 button-3-grid" href="piatti.html" th:href="@{/piatti}"
						th:text="Piatti">Piatti</a>
					<a class="button-3 button-3-grid" sec:authorize="hasAuthority('ADMIN')" href="editPiattoForm.html"
						th:href="@{'/editPiattoForm/' + ${piatto.id}}" th:text="modifica">modifica</a>
					<a class="button-3 button-3-grid" sec:authorize="hasAuthority('ADMIN')" href="deletePiatto.html"
						th:href="@{'/deletePiatto/' + ${piatto.id}}" th:text="cancella">cancella</a>
				</div>
			</div>
		</div>

		<div class="container-grid">

			<div class="grid" th:each="ingrediente : ${piatto.ingredienti}">

				<div th:replace="fragments/svg.html :: svg-icon-ingredient">
				</div>

				<div class="ingredient-name-tag" th:text="${ingrediente.nome}">nome ingrediente</div>

				<table>
					<tr>
						<td>Nome:</td>
						<td th:text="${ingrediente.nome}">nome ingrediente</td>
					</tr>
					<tr>
						<td>Descrizione:</td>
						<td th:text="${ingrediente.descrizione}">descrizione ingrediente</td>
					</tr>
					<tr>
						<td>Origine:</td>
						<td th:text="${ingrediente.origine}">origine ingrediente</td>
					</tr>
				</table>

				<div class="container-grid-buttons">
					<!-- taget="_blank" per aprire un nuovo tab cliccando il link -->
					<a class="button-3 button-3-grid" href="ingrediente.html"
						th:href="@{'/ingrediente/' + ${ingrediente.id}}" th:text="dettagli" target="_blank">dettagli</a>
					<a class="button-3 button-3-grid" sec:authorize="hasAuthority('ADMIN')"
						href="editIngredienteForm.html" th:href="@{'/editIngredienteForm/' + ${ingrediente.id}}"
						th:text="modifica">modifica</a>
					<a class="button-3 button-3-grid" sec:authorize="hasAuthority('ADMIN')"
						href="deleteIngrediente.html" th:href="@{'/deleteIngrediente/' + ${ingrediente.id}}"
						th:text="cancella">cancella</a>
				</div>
			</div>
			<!--<a class="button-3 button-3-home flex-column" sec:authorize="hasAuthority('ADMIN')"
				th:href="@{'/piatto/' + ${piatto.id} + '/ingredienteForm'}">-->
			</a>
			<!--<a class="button-3 button-3-home flex-column" sec:authorize="hasAuthority('ADMIN')"
				th:href="@{/ingredienteForm}">
				<div th:insert="fragments/svg.html :: svg-ingredient-insert"></div>
				<div>Inserisci Ingrediente</div>
			</a>-->
			<a class="button-3 button-3-home flex-column" th:href="@{/ingredienti}">
				<div th:insert="fragments/svg.html :: svg-ingredient"></div>
				<div>Visualizza tutti gli Ingredienti</div>
			</a>
		</div>

		<div th:unless="${piatto}">Non esiste</div>

	</div>

	<footer>
		<div th:insert="fragments/common.html :: foot"></div>
	</footer>
</body>

</html>