<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Inserimento piatto')">
</head>

<body>
	<div th:insert="fragments/common.html :: nav"></div>
	
	<form th:action="@{'/buffet/' + ${id} + '/piatto'}" method="POST" th:object="${piatto}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			Nome: <input type="text" th:field="*{nome}" />
			<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
			</div>
		</div>
		<div>
			Descrizione: <input type="text" th:field="*{descrizione}" />
			<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">
			</div>
		</div>
		<div>
			<fieldset>
				<legend>Seleziona ingredienti</legend>
				<div th:each="ingrediente: ${listaIngredienti}">
					<input type="checkbox" id="${listaIngredienti}" th:field="*{ingredienti}" name="ingrediente"
						th:value="${ingrediente.id}">
					<label for="${listaIngredienti}" th:text="${ingrediente.nome}">nome ingrediente</label>
				</div>
			</fieldset>
		</div>
		<div>
			<button type="submit">Conferma</button>
		</div>
	</form>
	<footer th:replace="fragments/common.html :: foot">
	</footer>s
</body>

</html>