<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Piatto salvato')">
</head>

<body>
	<div th:insert="fragments/common.html :: nav"></div>
	
	
	<p>Piatto salvato con successo!</p>
	<h4>Dettagli piatto</h4>
	<div th:if="${piatto}">
		<span th:text="${piatto.nome}">nome piatto</span>
		<span th:text="${piatto.descrizione}">descrizione piatto</span>
		<span th:text="${piatto.buffet.nome}">nome buffet</span>
	</div>
	<a th:href="@{'/buffet/' + ${piatto.buffet.id}}">Buffet</a>
	<div th:unless="${piatto}">Non esiste</div>

	<footer th:replace="fragments/common.html :: foot">
	</footer>
</body>

</html>