<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='Registrazione')">
</head>

<body>
	<div th:replace="fragments/common.html :: default-background"></div>

	<div class="container">
		<div class="card card-border">
			<h1 class="login">Ti sei registrato con successo!</h1>
			<a class="button-3" href="/" th:href="@{/}">Torna indietro</a>
		</div>
		<div th:replace="fragments/svg.html :: svg-register-succesful">
		</div>
	</div>

	<footer th:replace="fragments/common.html :: foot">
	</footer>
</body>

</html>